.main_screen {
    width: 100%;
    height: 100vh;
    background-image: url('@images/background-darkk.png');
    background-repeat: no-repeat;
    background-size: cover;

    .main_screen__wrapper {
        max-width: 1220px;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;

        .main_screen__content {
            display: flex;
            align-items: center;
            padding-top: 100px;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-around;
            .main_screen__content-left {
                .ant-btn-primary {
                    height: 54px;
                    background-color: #b77702;
                    text-transform: uppercase;
                    font-size: 18px;
                    border-radius: 28px;
                    margin-top: 50px;
                }

                .ant-btn-primary:hover,
                .ant-btn-primary:active,
                .ant-btn-primary:focus {
                    background-color: #976404;
                    color: wheat;
                }

                .main_title__text-up {}
            }

            .main_screen__content-right {
                img {
                    width: 500px;
                }
            }

            .frame {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 80px;
                left: -100%;
                opacity: 1;
                transition: all 0.5s ease;
                justify-content: start;
            }



            .frame.active {

                left: 0;
                opacity: 1;
                transition: all 0.5s ease;
                z-index: 1;
                padding-top: 50px;
                /* padding-inline-start: 0rem !important; */
            }
        }
    }

    @media screen and (max-width: 955px) {

        .main_screen__content {
            justify-content: space-around;
           position: absolute;
           top: 0;
           bottom: 50px;
           right: 0;
           left: 0;
            .left__text {
                text-align: center;
            }

        

            .main_screen__content-right {
                display: none!important;
                img {
                    display: none!important;
                }
            }

            .closeimg {
                width: 32px !important;
            }

            .screen_img {
                display: none !important;
            }
        }
    }

    @media screen and (min-width: 956px) {
        .button-hidden__mob {
            display: none;
        }
    }
}